<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLDVXKConnection"
			 connectionString="Server=DESKTOP-F0T7LKA/SQLEXPRESS;Database=QLDVXK;Intergrated Sercurity=True;MultipleActiveResultSets=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>